/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

main {
  padding: 50px 0;
}

input#datetime-picker {
  width: 272px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 32px 8px;
}

.timer {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

button[data-start]{
  background-color: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 75px;
  height: 40px;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

button:disabled {
  background-color: #cfcfcf;
  color: #989898;
}

button:hover{
background-color: #6c8cff;;
}

.value {
  display: block;
  font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.label {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;
}

label:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[name="delay"] {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}

fieldset {
  border-radius: 4px;
  width: 1px;
  color: #808080;
  width: 360px;
  height: 64px;
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 0;
  display: flex;
  gap: 48px;
  justify-content: center;
}

form button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  border: none;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

